body {
  background-image:url(../img/coast.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  font-family:Helvetica, sans-serif;
}

.logo {
  color:white;
  margin-top: 5px;
  margin-left: 5px;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.nav li a:hover{
  background-color:rgba(255, 255, 255, 0.3);
}

.user {
  text-transform: uppercase;
}

.sign-in {
  border:white solid 2px;
  padding:8px 3px 8px 3px;
  border-radius:5px;
  margin-right:10px;
}

.sign-in:hover {
  background-color:white;
}

.sign-in a:hover {
  color:black;
}

.sign-up {
  padding:8px 3px 8px 3px;
  border:#FFCC00 solid 2px;
  border-radius:5px;
  background-color:#FFCC00;
}

.sign-up:hover {
  background-color:#FF9900
}

.sign-up a {
  color:black;
}

.wrap{
  margin-top:100px;
}

.landing-logo {
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

.landing-logo img {
  display:block;
  margin:auto;
}

.title {
  text-align:center;
  color:white;
  text-transform:uppercase;
  font-size:80px;
}

.pitch {
  font-family:Times, serif;
  text-align:center;
  color:white;
  font-style:italic;
  font-size:30px;
}

.buttons {
  margin-top:50px;
}

.top-stories {
  display:block;
  width:50%;
  float:left;
  text-align:right;
}

.top-stories a {
  font-size:20px;
  color:white;
  text-transform:uppercase;
  text-decoration:none;
  border:2px solid white;
  border-radius:4px;
  padding:14px;
  background-color:rgba(255, 255, 255, 0.25);
  margin-right:10px;s
}

.top-stories a:hover {
  background-color:rgba(255, 255, 255, 0.35);
}

.facebook {
  display:block;
  width:50%;
  float:right;
  text-align:left;
}

.facebook a {
  font-size:20px;
  color:white;
  text-transform:uppercase;
  text-decoration:none;
  border:2px solid rgb(59,89,152);
  border-radius:4px;
  padding:14px;
  background-color:rgb(59,89,152);
  margin-left:10px;
}

.links {
  text-align:center;
  padding-top:250px;

}
